body,
html {
  background: #ededed;
  overflow-x: hidden;
}

.slogan {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 25vw;
  transform: translate(0, -50%);
  font-size: 4vw;
  font-weight: 700;
  color: #ededed;
}

.slogan p {
  text-align: center;
}

.container-bg {
  padding: 10% 10% 10% 10%;
  justify-content: flex;
  overflow: hidden;
  background-color: #ededed;
}

.bg_subtitle {
  margin-bottom: 8%;
  font-family: "Poppins";
  color: #313aaf;
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 4.5vw;
}

.bg_content {
  color: #313aaf;
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
}

.title2 {
  padding: 60% 0% 0% 0%;
  opacity: 1;
}

.textbox {
  display: flex;
  justify-content: flex;
  align-items: center;
}

h2.effect {
  position: relative;
  font-size: calc(12px + 8vw);
  color: #161a52;
  -webkit-text-stroke: 0.3vw #313aaf;
  text-transform: uppercase;
  white-space: nowrap;
}

h2.effect::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #313aaf;
  -webkit-text-stroke: 0vw #161a52;
  border-right: 2px solid #313aaf;
  overflow: hidden;
  animation: animate 2.5s linear infinite;
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

/* This pen */
body {
  color: #ededed;
}

.dark {
  background: #313aaf;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.1s;
}

.card.gr {
  padding: 8%;
  margin-bottom: 12%;
  border: none;
  border-radius: 3vw;
  color: rgba(0, 0, 0, 1);
  background: hsl(236, 56%, 44%);
  color: #ededed;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.27);
  width: 100%;
}

.card.gr:hover {
  background: #11187b;
}

.advantages_title {
  /*min-height:4rem;*/
  border-bottom: 0.5vh solid #ededed;
  margin-bottom: 3vh;
  font-size: calc(10px + 1.5vw);
  font-weight: 700;
  font-weight: bold;
  line-height: calc(1em + 1.5vw);
}

.advantages_content {
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
  font-weight: 400;
  font-style: normal;
  line-height: calc(0.5em + 1.5vw);
  color: #ededed;
  position: relative;
}

.container_aboutus {
  position: relative;
  text-align: center;
  color: white;
}

/* Top left text */
.top-left-aboutus {
  position: absolute;
  top: 8px;
  left: 16px;
}

.aboutus_bg {
  background-color: #313aaf;
  margin-top: 12%;
}

.aboutus_subtitle {
  margin-bottom: 2rem;
  font-family: "Poppins";
  color: #ededed;
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 4.5vw;
}

.aboutus_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
  font-weight: 400;
  font-style: normal;
  line-height: calc(1em + 2vw);
  color: #ededed;
  position: relative;
}

.aboutus_container {
  display: block;
  margin: 15px auto;
  width: 75%;
}

.aboutus_bottom {
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
  font-weight: 600;
  font-style: normal;
  line-height: calc(1em + 2vw);
  background: #ededed;
  color: #313aaf;
  position: relative;
}

.goalcontainer {
  padding: 10% 10% 10% 10%;
  justify-content: flex;
  overflow: hidden;
  background-color: #313aaf;
}

.goal {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 4.5vw;
  color: #ededed;
}

.goalpadding {
  padding: 7vw; /*top right bottom left, another setting: 3vw 7vw 3vw 0vw*/
}

.goalcontent {
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
  font-weight: 400;
  font-style: normal;
  line-height: calc(1em + 1.5vw);
  color: #ededed;
  position: relative;
}

.goalgap {
  height: 10%;
}

.goalsubtitle {
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  font-weight: 700;
  font-weight: bold;
  line-height: calc(1em + 1.5vw);
  color: #ededed;
  position: relative;
}

.operation-heading {
  margin-top: 5%;
  color: #313aaf;
  margin-left: 10%;
}

.operation-heading h1 {
  font-size: 3.5vw;
}

.operation-swiper {
  margin-left: 10%;
  height: 95vh;
  width: 80%;
  margin-top: 11%;
  user-select: none;
  background-color: #313aaf;
}

/*------swiper------*/

.operation-hardware-container {
  background-color: #ededed;
  width: 40%;
  height: 80vh;
  margin-left: 10%;
  padding: 0 1.5% 1.5% 1.5%;
  display: inline-block;
}

.operation-hardware-img {
  width: 100%;
  height: 115%;
  margin-top: -11.8vh;
  object-fit: cover;
}

.operation-hardware-content {
  position: absolute;
  margin: 4% 0 0 4%;
  color: #ededed;
  display: inline-block;
  width: 35%;
}

.operation-hardware-content h1 {
  font-size: 3vw;
}

.operation-hardware-content h2 {
  font-size: 2vw;
}

.operation-hardware-content h3 {
  font-size: 1.5vw;
}

.operation-hardware-content p {
  font-size: 1.5vw;
}

.operation-software-container {
  background-color: #ededed;
  width: 40%;
  height: 80vh;
  margin-left: 50%;
  padding: 0 1.5% 1.5% 1.5%;
  display: inline-block;
}

.operation-software-content {
  position: absolute;
  margin: 4% 0 0 10%;
  color: #ededed;
  display: inline-block;
  width: 35%;
}

.operation-software-content p {
  font-size: 1.5vw;
}

@media only screen and (max-width: 1000px) {
  .operation-hardware-img {
    height: 110%;
    margin-top: -8vh;
  }
}

@media only screen and (max-width: 680px) {
  .operation-swiper {
    margin-top: 20%;
  }

  .operation-hardware-content {
    margin: 6% 0 0 6%;
  }

  .operation-hardware-content h1 {
    font-size: 6vw;
  }

  .operation-hardware-content h2 {
    font-size: 5vw;
  }

  .operation-hardware-content h3 {
    font-size: 4vw;
  }

  .operation-hardware-content p {
    font-size: 3vw;
  }

  .operation-software-content {
    margin: 6% 0 0 6%;
  }

  .operation-software-content h1 {
    font-size: 7vw;
  }

  .operation-software-content h2 {
    font-size: 5vw;
  }

  .operation-software-content p {
    font-size: 3vw;
  }
}

.swiper{
  height: 90vh;
  width: 100%;
  margin-top: 12%;
  background-color: #313aaf;
}

.swiper-button-next {
  padding-right: 5%;
}

.swiper-button-prev {
  padding-left: 5%;
}